:root {
    --background-color: #dadada;
    --count-circle-color: #f2711d;
    --danger-color: #db2828;
    --valid-color: #22ba46;
    --info-color: #af00da;
    --focused-color: #4c01da;
    --blue-color: #2285d0;
    --purchase-btn-color: #f4f4f4;
    --tag-background-color: #e8e8e8;
    --division-line-color: #ececed;
    --primary-font-family: Arial, sans-serif;
}

body {
    background: var(--background-color);
    padding: 0.75rem;
    margin: 0;
    font-family: var(--primary-font-family);
}

.shopping-cart-container {
    display: flex;
    gap: 1.25rem;
    align-items: flex-start;
}

.products,
.sidebar-statistics {
    background: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
}

.products {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1875rem 0;
}

.products-section {
    padding: 0rem 1.25rem;
    border-bottom: 0.0625rem solid var(--division-line-color);
}

.products-section:last-child {
    border-bottom: none;
}

.products-section:first-child {
    flex-grow: 1;
    padding: 1.25rem 1.25rem;
}

.sidebar-statistics {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-statistics-section {
    padding: 0.3125rem 1.25rem;
    border-bottom: 0.0625rem solid var(--division-line-color);
}

.sidebar-statistics-section:last-child {
    border-bottom: none;
}

.add-product-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-input {
    box-sizing: border-box;
    flex: 1;
    padding: 1.25rem;
    height: 3.125rem;
    width: 70%;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border: 0.0625rem solid var(--division-line-color);
    font-size: 1rem;
}

.add-product-input:focus {
    outline: none;
    border-color: var(--blue-color);
    box-shadow: 0 0 0 0.0625rem rgba(52, 152, 219, 0.4);
}

.name,
.name-input {
    flex-basis: 30%;
    min-width: 6.25rem;
    font-size: 1.125rem;
}

.name.purchased {
    text-decoration: line-through;
}

.name-input {
    box-sizing: border-box;
    border: 0.0625rem solid var(--division-line-color);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0rem 0.3125rem 0.3125rem;
    flex-basis: 30%;
}

.name-input:focus {
    outline: none;
    border-color: var(--blue-color);
    box-shadow: 0 0 0 0.0625rem rgba(52, 152, 219, 0.4);
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    margin-right: 6.25rem;
    flex-basis: 7.5rem;
    min-width: 5.625rem;
}

.quantity.no-buttons {
    margin-right: 8.625rem;
}

.count {
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    font-size: 1rem;
    background-color: var(--tag-background-color);
}

.count-circle {
    background: var(--count-circle-color);
    color: white;
    border-radius: 50%;
    padding: 0.125rem 0.375rem;
    margin-left: 0.3125rem;
    font-size: 1rem;
}

.count-circle.purchased {
    text-decoration: line-through;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    flex-basis: auto;
    min-width: 6.25rem;
    justify-content: flex-end;
}

.btn {
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 -0.09375rem 0 0.125rem rgba(0, 0, 0, 0.2) inset;
}

.btn:active {
    box-shadow: 0 0.0625rem 0 0.0625rem rgba(0, 0, 0, 0.2) inset; 
    transform: translateY(0.0625rem); 
}

.btn.round {
    border-radius: 50%;
    width: 2.1875rem;
    height: 2.1875rem;
    color: white;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none; 
}

.btn.cross {
    border-radius: 0.3125rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 2.1875rem;
    height: 2.1875rem;
}

.btn.red {
    background: var(--danger-color);
}

.btn.green {
    background: var(--valid-color);
}

.btn.purchase {
    background-color: var(--purchase-btn-color);
    color: black;
    border-radius: 0.3125rem;
    width: 7.5rem;
    height: 2.1875rem;
    font-size: 0.875rem;
    border: 0.0625rem solid var(--purchase-btn-color);
}

.btn.add-product {
    background: var(--blue-color);
    color: white;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    width: 25%;
    height: 3.125rem;
    padding: 0 0.9375rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.btn.tooltip::after {
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.625rem) scale(1);
    transition: opacity 1.3s ease, transform 1.3s ease, visibility 1.3s ease;

    background-color: var(--info-color);
    color: white;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    bottom: 110%;
    white-space: nowrap;
    font-size: 0.875rem;
}

.btn.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.remaining,
.bought {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag {
    display: inline-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.625rem;
    margin: 0.9375rem 0;
    font-size: 0.875rem;
    width: 5rem;
    height: 1.875rem;
    background: var(--tag-background-color);
}

.tag.purchased {
    text-decoration: line-through;
}

/* бейджик */

.author-badge {
    position: fixed;
    bottom: 0;
    left: 0.625rem;
    background-color: var(--info-color);
    color: white;
    padding: 0rem 1.25rem;
    border-top-right-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
    max-height: 1.875rem;
    transition: max-height 2.4s ease, background-color 2.4s ease;
}

.author-badge .author {
    opacity: 0;
    transition: opacity 2.4s ease;
    font-size: 0.75rem;
    margin-top: 0rem;
}

.author-badge .label-badge {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.3125rem;
}

.author-badge .label-small {
    opacity: 0;
    transition: opacity 2.4s ease;
    font-size: 0.625rem;
    margin-bottom: 0rem;
}

.author-badge:hover {
    max-height: 7.5rem;
    background-color: var(--focused-color);
}

.author-badge:hover .author,
.author-badge:hover .label-small {
    opacity: 1;
}

/* Стилі для маленьких екранів */

/* 700px */

@media (max-width: 43.75rem) {
    .shopping-cart-container {
        flex-direction: column;
    }

    .products,
    .sidebar-statistics {
        width: 100%;
    }

    .action-buttons {
        justify-content: flex-end;
        margin-right: 0rem;
    }

    .author-badge {
        font-size: 0.75rem;
        padding: 0rem 0.9375rem;
        max-height: 1.875rem;
        left: 0.3125rem;
    }

    .author-badge .label-badge {
        font-size: 0.875rem;
        margin-top: 0.3125rem;
    }

    .author-badge .label-small,
    .author-badge .author {
        font-size: 0.625rem;
    }

    .author-badge:hover {
        max-height: 5rem;
    }
}

/* 500px */

@media (max-width: 31.25rem) {
    .products-section {
        padding: 0.3125rem 0.625rem 0.625rem 0.3125rem;
    }

    .products-section:first-child {
        flex-grow: 1;
        padding: 1rem 0.625rem;
    }

    .name,
    .name-input {
        flex-basis: 20%;
        font-size: 1rem;
        min-width: 3.125rem;
        margin-left: 0.625rem;
    }

    .btn.add-product {
        font-size: 0.8125rem;
    }

    .quantity {
        margin-right: 0.625rem;
        flex-basis: 6.25rem;
    }

    .quantity.no-buttons {
        margin-right: 1.875rem;
    }

    .count {
        width: 1.875rem;
        height: 1.875rem;
        font-size: 0.875rem;
    }

    .btn.purchase {
        width: 5rem;
        height: 1.875rem;
        font-size: 0.75rem;
        white-space: nowrap;
    }

    .btn.cross {
        width: 1.875rem;
        height: 1.875rem;
        font-size: 0.875rem;
    }

    .btn.round {
        width: 1.875rem;
        height: 1.875rem;
        font-size: 0.875rem;
    }

}

/* Стилі для друку */

@media print {
    .author-badge {
        background-color: white;
        color: black;
        border: 0.0625rem solid black;
        position: fixed;
        bottom: 0;
        left: 0.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.625rem 1.25rem;
    }

    .author-badge .label-badge {
        display: none;
    }

    .author-badge .label-small {
        opacity: 1;
        font-size: 0.75rem;
        margin-top: 0;
    }

    .author-badge .author {
        opacity: 1;
        margin-bottom: 0;
    }
}