:root {
	--background-color: #dadada;
	--count-circle-color: #f2711d;
	--danger-color: #db2828;
	--valid-color: #22ba46;
	--info-color: #af00da;
	--focused-color: #4c01da;
	--blue-color: #2285d0;
	--purchase-btn-color: #f4f4f4;
	--tag-background-color: #e8e8e8;
	--division-line-color: #ececed;
	--primary-font-family: Arial, sans-serif;
}

body {
	background: var(--background-color);
	padding: 12px;
	margin: 0;
	font-family: var(--primary-font-family);
}

.shopping-cart-container {
	display: flex;
	gap: 20px;
	align-items: flex-start;
}

.products,
.sidebar-statistics {
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.products {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3px 0;
}

.products-section {
	padding: 0px 20px;
	border-bottom: 1px solid var(--division-line-color);
}

.products-section:last-child {
	border-bottom: none;
}

.products-section:first-child {
	flex-grow: 1;
	padding: 20px 20px;
}

.sidebar-statistics {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.sidebar-statistics-section {
	padding: 5px 20px;
	border-bottom: 1px solid var(--division-line-color);
}

.sidebar-statistics-section:last-child {
	border-bottom: none;
}

.add-product-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-product-input {
	box-sizing: border-box;
	flex: 1;
	padding: 20px;
	height: 50px;
	width: 70%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid var(--division-line-color);
	font-size: 16px;
}

.add-product-input:focus {
	outline: none;
	border-color: var(--blue-color);
	box-shadow: 0 0 0 1px rgba(52, 152, 219, 0.4);
}

.name,
.name-input {
	flex-basis: 30%;
	min-width: 100px;
	font-size: 18px;
}

.name.purchased {
	text-decoration: line-through;
}

.name-input {
	box-sizing: border-box;
	border: 1px solid var(--division-line-color);
	border-radius: 5px;
	padding: 5px 0px 5px 5px;
	flex-basis: 30%;
}

.name-input:focus {
	outline: none;
	border-color: var(--blue-color);
	box-shadow: 0 0 0 1px rgba(52, 152, 219, 0.4);
}

.quantity {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-right: 100px;
	flex-basis: 120px;
	min-width: 90px;
}

.quantity.no-buttons {
	margin-right: 138px;
}

.count {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 16px;
	background-color: var(--tag-background-color);
}

.count-circle {
	background: var(--count-circle-color);
	color: white;
	border-radius: 50%;
	padding: 2px 6px;
	margin-left: 5px;
	font-size: 16px;
}

.count-circle.purchased {
	text-decoration: line-through;
}

.action-buttons {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-basis: auto;
	min-width: 100px;
	justify-content: flex-end;
}

.btn {
	border: none;
	color: black;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 -1.5px 0 2px rgba(0, 0, 0, 0.2) inset;
}

.btn.round {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	color: white;
}

.btn.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.btn.cross {
	border-radius: 5px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	width: 35px;
	height: 35px;
}

.btn.red {
	background: var(--danger-color);
}

.btn.green {
	background: var(--valid-color);
}

.btn.purchase {
	background-color: var(--purchase-btn-color);
	color: black;
	border-radius: 5px;
	width: 120px;
	height: 35px;
	font-size: 14px;
	border: 1px solid var(--purchase-btn-color);
}

.btn.add-product {
	background: var(--blue-color);
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 25%;
	height: 50px;
	padding: 0 15px;
	font-size: 20px;
	font-weight: bold;
}

.btn.tooltip::after {
	content: attr(data-tooltip);
	visibility: hidden;
	opacity: 0;
	transform: translateY(10px) scale(1);
	transition: opacity 1.3s ease, transform 1.3s ease, visibility 1.3s ease;

	background-color: var(--info-color);
	color: white;
	text-align: center;
	border-radius: 8px;
	padding: 8px 12px;
	position: absolute;
	bottom: 110%;
	white-space: nowrap;
	font-size: 14px;
}

.btn.tooltip:hover::after {
	visibility: visible;
	opacity: 1;
	transform: translateY(0) scale(1);
}

.remaining,
.bought {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.tag {
	display: inline-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 15px 0;
	font-size: 14px;
	width: 80px;
	height: 30px;
	background: var(--tag-background-color);
}

.tag.purchased {
	text-decoration: line-through;
}

/* бейджик */

.author-badge {
	position: fixed;
	bottom: 0;
	left: 10px;
	background-color: var(--info-color);
	color: white;
	padding: 0px 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	max-height: 30px;
	transition: max-height 2.4s ease, background-color 2.4s ease;
}

.author-badge .author {
	opacity: 0;
	transition: opacity 2.4s ease;
	font-size: 12px;
	margin-top: 0px;
}

.author-badge .label-badge {
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}

.author-badge .label-small {
	opacity: 0;
	transition: opacity 2.4s ease;
	font-size: 10px;
	margin-bottom: 0px;
}

.author-badge:hover {
	max-height: 120px;
	background-color: var(--focused-color);
}

.author-badge:hover .author,
.author-badge:hover .label-small {
	opacity: 1;
}

/* Стилі для маленьких екранів */

/* 700px */

@media (max-width: 700px) {
	.shopping-cart-container {
		flex-direction: column;
	}

	.products,
	.sidebar-statistics {
		width: 100%;
	}

	.action-buttons {
		justify-content: flex-end;
		margin-right: 0px;
	}

	.author-badge {
		font-size: 12px;
		padding: 0px 15px;
		max-height: 30px;
		left: 5px;
	}

	.author-badge .label-badge {
		font-size: 14px;
		margin-top: 5px;
	}

	.author-badge .label-small,
	.author-badge .author {
		font-size: 10px;
	}

	.author-badge:hover {
		max-height: 80px;
	}
}

/* 500px */

@media (max-width: 500px) {
	.products-section {
		padding: 5px 10px 10px 5px;
	}

	.name,
	.name-input {
		flex-basis: 20%;
		font-size: 16px;
		min-width: 50px;
		margin-left: 10px;
	}

	.btn.add-product {
		font-size: 13px;
	}

	.quantity {
		margin-right: 10px;
		flex-basis: 100px;
	}

	.quantity.no-buttons {
		margin-right: 30px;
	}

	.count {
		width: 30px;
		height: 30px;
		font-size: 14px;
	}

	.btn.purchase {
		width: 80px;
		height: 30px;
		font-size: 12px;
		white-space: nowrap;
	}

	.btn.cross {
		width: 30px;
		height: 30px;
		font-size: 14px;
	}

	.btn.round {
		width: 30px;
		height: 30px;
		font-size: 14px;
	}

}

/* Стилі для друку */

@media print {
	.author-badge {
		background-color: white;
		color: black;
		border: 1px solid black;
		position: fixed;
		bottom: 0;
		left: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 20px;
	}

	.author-badge .label-badge {
		display: none;
	}

	.author-badge .label-small {
		opacity: 1;
		font-size: 12px;
		margin-top: 0;
	}

	.author-badge .author {
		opacity: 1;
		margin-bottom: 0;
	}
}